# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
backend/venv/

# Environment variables
.env

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Coverage / testing
.coverage
htmlcov/

# SQLite files
*.sqlite3